#radisSprite {
  width: 360px;
  height: 346px;
  background-image: url("./redis-sprite.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: scale(0.7);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: radial-gradient(circle, #7e57c2, #6c48b6, #5a39aa, #472a9e, #311b92);
}
